<footer class="text-center p-5">
    <div class="space-x-3 mb-4">
      <!-- <a  href="http://"><img  src="../assets/svgs/twitter-svgrepo-com.svg" alt="" srcset=""></a> -->
      <!-- <a href="http://"><img src="../assets/svgs/sc-github-svgrepo-com.svg" alt="" srcset=""></a> -->
      <a class="hover:text-yellow-400" href="http://github.com/noahbuilds">GitHub</a>
      <a class="hover:text-yellow-400"href="http://twitter.com/ed_knowah">Twitter</a>
      <a class="hover:text-yellow-400"href="https://linkedin.com/in/noah-edet/">Linkedin</a>
    </div>
    <p>Designed and Built by  <span class="text-yellow-400">Noah</span>😎</p>
    <p class="text-slate-700">All rights reserved &copy; 2022</p>
</footer>