<div class="mt-36">
  <h1
    id="about"
    class="font-bold lg:text-4xl md:text-3xl sm:5xl text-3xl text-center"
  >
    About <span class="text-yellow-400">Me.</span>
  </h1>
  <p class="text-slate-700 mb-5">Some stuffs about me</p>
  <div class="flex justify-center align-middle">
    <p class="md:text-lg p-3 text-start sm:w-7/12 lg:w-7/12 md:w-7/12">
      My name is Noah and I enjoy designing and building stuffs that live on the
      internet. My interest in coding started back in 2018 when I wrote a
      program that prints <span class="text-yellow-400">"hello world"</span> in
      C — turns out telling the computer what to do and then doing exactly
      thesame thing got me really fascinated🤯. <br /><br />

      Today, having worked at some awesome start-ups, ranging from different
      industries and teams is a privilege I've enjoyed🫶🏾. <br />
      <br />
      These days, I spend much of my time building awesome digital products and
      solutions that are inclusive and accessible for a range of clients. <br> 
      As a software engineer, I specialize in building incredible digital
      experiences, as well as occasionally designing them🎨. 
      <!-- I'm now focusing on building products that are accessible and put the user first.  -->
      <br><br>
      Aside sitting in front of my machine👨🏾‍💻. I love playing video games 🎮, drumming🥁, consuming Shawarma and Ice-cream😋
    </p>

    <div class="hidden lg:contents md:visible xl:visible sm:visible">
      <img src="assets/svgs/memoji-2.svg" alt="memoji" />
    </div>
    <!-- <p>Whats in my toolsBox⚙🛠</p> -->
  </div>
</div>
