<div class="text-center sm:mt-12 lg:mt-12 md:mt-12 mt-5 xl:mt-12">
  <div
    class="border-4 w-fit mr-auto ml-auto rounded-full border-yellow-400 memoji-animation"
  >
    <!-- <div class="sm:lg:absolute sm:lg:top-30 sm:lg:right-60 xs:absolute bg-yellow-400 rounded-l-xl rounded-tr-xl w-60 ">
      <p class=" font-bold p-1 text-black">Hello, There!</p>
    </div> -->

    <img src="assets/svgs/memoji.svg" alt="memoji" />
  </div>

  <!-- <img class="  rounded-full border-4 border-x-amber-400 mr-auto ml-auto" src="assets/noah.jpg" alt=""> -->

  <h2 class="mt-5">Noah Edet</h2>
  <h1 class="font-bold mb-2">
    <span class="text-yellow-400 md:text-8xl sm:text-4xl text-3xl">Fullstack</span>
    Developer<span class="text-yellow-400 text-3xl">.</span>
  </h1>
  <p class="text-slate-700 mb-5">
    I use MEAN to develop MEANingful Products😒
  </p>
</div>
<!-- <h1 class="mt-20 lg:text-4xl ms:text-2x1 sm:text-2x1 underline">My Tools</h1> -->

<marquee class="mr-auto ml-auto flex" width="50%" direction="left">
  <div class="flex justify-center gap-4 mt-5 mb-5">
    <img
      class="h-10"
      src="../assets/svgs/html-svgrepo-com.svg"
      alt="html"
      srcset=""
    />
    <img class="h-10" src="../assets/svgs/css-svgrepo-com.svg" alt="css" />
    <img
      class="h-10"
      src="../assets/svgs/angular-svgrepo-com.svg"
      alt="angular"
    />
    <img
      class="h-10"
      src="../assets/svgs/nodejs-logo-svgrepo-com.svg"
      alt="node-js"
    />
    <img
      class="h-10"
      src="../assets/svgs/express-svgrepo-com.svg"
      alt="express-js"
    />
    <img
      class="h-10"
      src="../assets/svgs/mongo-svgrepo-com.svg"
      alt="mongo-db"
    />
    <img
      class="h-10"
      src="../assets/svgs/postgresql-svgrepo-com.svg"
      alt="postgresql"
    />
    <img class="h-10" src="../assets/svgs/bootstrap-svgrepo-com.svg" alt="" />
    <img
      class="h-10"
      src="../assets/svgs/tailwindcss-icon-svgrepo-com.svg"
      alt="bootstrap"
    />
    <img
      class="h-10"
      src="../assets/svgs/material-ui-svgrepo-com.svg"
      alt="material-ui"
    />
    <img
      class="h-10"
      src="../assets/svgs/js-official-svgrepo-com.svg"
      alt="javascript"
    />
    <img
      class="h-10"
      src="../assets/svgs/typescript-logo-svgrepo-com.svg"
      alt="typescript"
    />
  </div>
</marquee>

<button class="bg-blue-500 rounded-full p-3 pr-10 pl-10 hover:bg-blue-800 ml-5">
  Let's make magic✨
</button>
