<app-header></app-header>
<div class="mt-10">
  <h1
    id="about"
    class="font-bold lg:text-4xl md:text-3xl sm:5xl text-3xl text-center"
  >
    About <span class="text-yellow-400">Me.</span>
  </h1>
  <p class="text-slate-700 mb-5 text-center">Some stuffs about me</p>
  <div class="container text-center ml-auto mr-auto" style="max-width: 1140px">
    <div class="flex justify-center align-middle">
      <p class="md:text-lg p-3 text-start sm:w-7/12 lg:w-7/12 md:w-7/12">
        <!-- Hey there, I'm Noah, a digital architect who loves crafting captivating
        experiences on the web. It all began in 2018 when I whispered the code
        for 'hello world' in C, and the computer echoed my excitement. Ever
        since, the art of commanding technology and bringing imagination to life
        has completely captivated me -->

        Heya! I'm Noah, a soft wizard who crafts mind-bending experiences
        that'll make your screen dance with joy. Picture this: back in 2018, I
        cast a spell with a wink and a
        <span class="text-yellow-400">"hello world"</span> in C, and the
        computer couldn't help but cheer along. Ever since, the magical world of
        commanding technology and turning dreams into digital reality has become
        my irresistible obsession.
        <!-- <span class="text-yellow-400">"hello world"</span> in C — turns out
        telling the computer what to do and then doing exactly thesame thing got
        me really fascinated🤯. -->
        <br /><br />

        Today, having worked with some awesome start-ups, ranging from different
        industries and teams is a privilege I've enjoyed. <br />
        <br />
        These days, I spend much of my time building awesome digital products
        and solutions that are inclusive and accessible for a range of clients.
        <br />
        As a software engineer, I specialize in building incredible digital
        experiences, as well as occasionally designing them🎨.
        <!-- I'm now focusing on building products that are accessible and put the user first.  -->
        <br /><br />
        When I'm not immersed in the digital realm, you'll find me rocking
        multiple realms of fun! Unleashing my skills on the virtual battlefield
        🎮. The rhythmic beats of drumming keep my spirit alive, syncing my
        passion with the pulse of the music 🥁. And let's not forget the
        delectable delights that make life sweeter – Shawarma connoisseur and
        Ice-cream aficionado 🌯🍦!
      </p>

      <div class="hidden lg:contents md:visible xl:visible sm:visible">
        <img src="assets/svgs/memoji-2.svg" alt="memoji" />
      </div>
      <!-- <p>Whats in my toolsBox⚙🛠</p> -->
    </div>
    <div class="flex justify-start lg:mx-24">
      <a
        href="https://drive.google.com/file/d/1Me85S6AHylxQ8y46HWCpFSCfBt0279sc/view?usp=sharing"
        target="_blank"
      >
        <button
          class="border border-yellow-400 rounded-lg p-3 pr-10 pl-10 hover:bg-yellow-500 ml-5 mb-16"
        >
          Resume
        </button>
      </a>

      <button
        class="border border-yellow-400 rounded-lg p-3 pr-10 pl-10 hover:bg-yellow-500 ml-5 mb-16"
        (click)="showIframe = !showIframe"
      >
        <!-- <a href="https://calendly.com/edetnoah/chat"> Let's make magic✨ </a> -->
        Let's Work Wonders
      </button>
    </div>
  </div>

  <app-footer></app-footer>
</div>

<ng-container *ngIf="showIframe">
  <div
    style="
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 15%;
    "
    class="bg-white"
  >
    <div
      class="flex justify-end"
      style="position: absolute; top: 0; left: 0; right: 0; bottom: 2"
    >
      <button
        class="bg-red-500 rounded-sm p-3"
        (click)="showIframe = !showIframe"
      >
        Close
      </button>
    </div>

    <iframe
      width="100%"
      height="700"
      style="border: 1px solid black"
      src="https://calendly.com/edetnoah/chat"
      frameborder="0"
    >
      <button>Close</button>
    </iframe>
  </div>
</ng-container>
